<div class="grid center justify-center text-center mt-16 mb-16">
  <p class="text-4xl font-bold color_uniao_yellow mb-16 font_dancing">Onde Estamos?</p>

  <div class="text-1xl font-bold color_uniao_blue mb-10">
    <a href="https://goo.gl/maps/WioQU1Jfwr54AunN9" target="_blank" class="font-bold cursor-pointer">Estamos localizados
      na <a class="underline">R. Dona
        Abigail F. Araújo Ramos, 410 - Luzia - Aracaju</a></a>
  </div>

</div>

<div class="flex center text-center justify-center w-full mb-4">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62675.83820646599!2d-37.1031294!3d-10.9452433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71ab3be9aaa6527%3A0xe4ac2cf962508d12!2sPadaria%20Uni%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1694344406454!5m2!1spt-BR!2sbr"
    defer width="800" height="600" style="border:0; width: 100%;" allowfullscreen="true"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>