<div class=" grid center justify-center text-center mt-16 mb-16 w-auto">
  <h2 class="text-4xl font-bold tracking-tight color_uniao_yellow mb-16 font_dancing">Encomendas</h2>

  <p class="text-2xl font-bold color_uniao_blue mb-10"> PONTOS DE ATENÇÃO! 🤔</p>

  <p class="text-1xl font-bold color_uniao_blue mb-8 mx-2">Entre em contato com a Padaria União para realizar o seu pedido.
  </p>

  <p class="text-1xl color_vermelho_escuro font-bold mb-8">Não entregamos em domicílio.</p>

  <p class="text-1xl color_vermelho_escuro font-bold mb-8 mx-2">Encomendas acima de R$ 100,00: necessário pagamento de 50% de entrada.
  </p>

  <p class="text-1xl font-bold color_uniao_blue mb-10">ACEITAMOS CARTÕES DE DÉBITO, CRÉDITO</p>

  <div class="grid grid-cols-2 lg:grid-cols-3 justify-items-center">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes/logo-da-visa-bandeira-cartao.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes/logo-da-bandeira-mastercard.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes/Hipercard_logo.svg" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes/logo-cartao-elo-4096.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes/logo-banese-card-2015.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes/American-Express-Emblema.png" alt="">
  </div>

  <p class="text-1xl font-bold color_uniao_blue mt-10 mb-10">ALIMENTAÇÃO / REFEIÇÃO</p>

  <div class="grid grid-cols-2 lg:grid-cols-3 justify-items-center">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes2/banese.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes2/Cartão-Sodexo.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes2/alelo.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes2/ben.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes2/vr_ali.png" alt="">
    <img class="img_cartoes" src="../../../assets/pictures/cartoes2/vr_ref.png" alt="">
  </div>

</div>