<!--Footer container-->
<footer class="footer_uniao flex flex-col items-center background_uniao_blue text-center text-white ">
  <div class="container pt-9">
    <div class="mb-9 flex justify-center">

      <a href="https://www.instagram.com/padariauniaoaju/" target="_blank"><iconify-icon icon="ri:instagram-fill"
          class="text-2xl mr-9 w-4 h-4 hover:scale-125 delay-150 duration-200 ease-in-out cursor-pointer"></iconify-icon></a>
      <a href="https://api.whatsapp.com/message/CZ5544VLYI62C1?autoload=1&app_absent=0" target="_blank"> <iconify-icon
          icon="ri:whatsapp-fill"
          class="text-2xl	 mr-9 w-4 h-4 hover:scale-125 delay-150 duration-200 ease-in-out cursor-pointer"></iconify-icon></a>

    </div>

    <div class="mb-9 flex justify-center">
      <a href="https://goo.gl/maps/WioQU1Jfwr54AunN9" target="_blank" class="font-bold underline cursor-pointer">R. Dona
        Abigail F. Araújo Ramos, 410 - Luzia - Aracaju</a>
    </div>

    <div class="mb-9 flex justify-center">
      <p target="_blank" class="font-bold">79 3217-6519 | 3232-2876 | 9956-8046 | panificacao.uniao@yahoo.com.br</p>
    </div>

    <div class="mb-9 flex justify-center">
      <p target="_blank" class="font-bold">Horário de funcionamento: de segunda a sábado de 06:00 à 19:30</p>
    </div>
  </div>

  <!--Copyright section-->
  <div class="w-full p-4 text-center text-neutral-200 background_uniao_blue_2">
    © 2023
    <a class="text-neutral-200">Padaria União</a>
  </div>
</footer>