<div class="grid center justify-center text-center mt-16 mb-16">
  <p class="text-4xl font-bold color_uniao_yellow">UM POUCO DA NOSSA HISTÓRIA</p>

  <a id="button"></a>
  <div class="lg:flex w-full">
    <div class="lg:w-2/3">
      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">Como toda empresa familiar, a Padaria
          União
          nasceu de um
          sonho. E
          assim como todo sonho, ela possui uma bela história. Hoje, em 2020, é gratificante saber o quanto o nome desta
          padaria é reconhecido pela população de Aracaju, fruto das várias décadas de bons serviços prestados na
          indústria
          de
          alimentos. Porém, para entender a nossa história, é preciso voltar no tempo e ver como este sonho fora
          idealizado
          pelo casal Joel e Jovelina Paixão.</p>
      </div>

      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">“Seu” Joel, que trazia dentro de si uma
          história de empreendedorismo, já havia tido uma próspera experiência no ramo de panificação, nos idos da
          década de
          1950, quando fundou e administrou a Padaria Senhor do Bonfim, na esquina das ruas Boquim e Santa Luzia, no
          centro
          da capital sergipana. Não satisfeito, tentou alçar maiores voos com a fundação da bem sucedida Fábrica de
          Biscoitos de Sergipe – FABISE, na qual esteve à frente – ao lado de seu irmão José Alves da Paixão – nas
          décadas
          de 1960 e 1970.</p>
      </div>
    </div>

    <!-- image 1-->
    <div class="background_uniao_blue lg:w-1/3 mt-16 grid center justify-center lg:justify-start text-center">
      <img src="../../../assets/pictures/historia/foto_historia_1.png" alt="">
    </div>
  </div>

  <div class="lg:flex w-full">
    <!-- image 2-->
    <div class="background_uniao_blue  lg:w-1/3 mt-16 grid center justify-center lg:justify-end text-center">
      <img src="../../../assets/pictures/historia/foto_historia_2.png" alt="">
    </div>

    <div class="lg:w-2/3">
      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">Como todo sonho teima em querer se
          tornar
          realidade, um chamado faria “seu” Joel voltar às origens de padeiro, e agora – com o apoio e dedicação de
          “Dona”
          Jó, sua esposa – o casal pôs em prática a ideia de transformar o segmento de panificação no Estado, fundando –
          em
          12/07/1982 – a Panificadora União, num promissor bairro residencial que se formava por detrás da Avenida
          conhecida
          por “Nova Saneamento”, bairro Luzia, antigamente chamado de Nossa Senhora de Fátima, no recém-fundado Conjunto
          Jessé Pinto Freire.</p>
      </div>
    </div>
  </div>

  <div class="lg:flex w-full">
    <div class="lg:w-2/3">
      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">Consolidada na comunidade, e atraindo
          cada
          vez mais a atenção de outros moradores de Aracaju, a Panificadora União – já com o reforço de Carlos Alberto
          Paixão, filho do casal – buscou se inovar perante sua clientela, abrindo um leque variado de tortas, pasteis e
          salgados em geral, mostrando ainda para toda a população que, de fato, possuía o “melhor pão de queijo da
          cidade”.
        </p>
      </div>

      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">Esta fama, dada carinhosamente pelos
          amigos
          fregueses à Padaria, fora incorporada como lema no ano de 2006, quando se fez uma ampla e modernizadora
          reforma
          para melhor atender a sua fiel clientela, possibilitando expor à sociedade tudo aquilo que possuía, dentro do
          seu
          variado mix de produtos alimentícios. A antiga Panificadora, a esta altura, havia se transformando na
          Panificação
          e Confeitaria União.
        </p>
      </div>
    </div>

    <!-- image 3-->
    <div class="background_uniao_blue lg:w-1/3 mt-16 grid center justify-center lg:justify-start text-center">
      <img src="../../../assets/pictures/historia/foto_historia_3.png" alt="">
    </div>
  </div>

  <div class="lg:flex w-full">

    <!-- image 4-->
    <div
      class="altura_4_image background_uniao_blue lg:w-1/3 mt-16 grid center justify-center lg:justify-end text-center">
      <img src="../../../assets/pictures/historia/foto_historia_4.png" alt="">
    </div>
    <div class="lg:w-2/3">

      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">Como a mudança é uma constante e
          imutável
          lei da vida, foi preciso avançar ainda mais. Mas como o futuro também é, de certa forma, “um museu cheio de
          grandes novidades”, a União buscou, no ano de 2017, inovar sem perder de vista o aceno às tradições da arte,
          as
          quais consolidaram o pão como o alimento milenar de maior consagração na história da humanidade. Era preciso,
          portanto, trazer uma nova roupagem, que não deixassem esquecidos todos aqueles valores que fundaram a padaria
          há
          quase quatro décadas. Saía de cena a Panificação e Confeitaria, dando lugar à Padaria União, que continua
          tendo o
          melhor de pão de queijo da cidade, mas também anseia ser reconhecida como uma valorosa padaria tradicional,
          que
          carrega dentro de si o cheiro de pão quente que tanto alegra seus fieis consumidores.
        </p>
      </div>

      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">Uma vez mais, fora preciso fazer uma
          nova e
          ampla modernização do seu espaço, dando maior visibilidade à histórica arte de fazer produtos tradicionais,
          com a
          qualidade, o sabor e a riqueza encontrada nos pães, bolos e biscoitos de uma simples padaria de bairro – como
          tantas outras localizadas ao longo do mundo. Aliado ao tradicionalismo, a Padaria União também não abandonou o
          seu
          consagrado mix de tortas, salgados e itens de confeitaria, que seguem tão apreciados pelo povo de Aracaju.
        </p>
      </div>

    </div>
  </div>


  <div class="lg:flex w-full">
    <div class="lg:w-2/3">


      <div class="espacamento_texto">
        <p class="text-center center mt-16 text-1xl font-bold color_uniao_blue">Agora, já em 2020, além do melhor pão de
          queijo da cidade, temos o melhor pão francês (ou pão jacó para os mais antigos). Essa conquista veio através
          da
          eleição em concurso promovido pelo SINDIPAN (Sindicato dos Panificadores do Estado de Sergipe) em parceria com
          o
          curso de Gastronomia da Universidade Tiradentes – UNIT e com o Moinho de Trigo de Sergipe, nos anos de 2018 e
          2019. E seguimos querendo mais. Queremos continuar prestando ao cliente de ontem e de hoje os mesmos serviços
          que
          o fizeram ser nossos parceiros de longa data, geração após geração, para que, amanhã, a Padaria União continue
          a
          ser carinhosamente lembrada em cada refeição, na mesa de cada casa sergipana. Será nossa honra ter você como
          testemunha ativa da realização do nosso ideal.
        </p>
      </div>

      <div class="espacamento_texto">
        <p class="text-center center mt-16 mb-24 text-1xl font-bold color_uniao_blue">Carlos Victor Paixão – terceira
          geração
          desta história, neto de “seu” Joel e “dona” Jó, filho de Carlos Alberto, cliente assíduo do pão jacó, do pão
          de
          batata e do pãozinho de queijo, e testemunha da luta que permitiu seguir materializando, dia após dia, este
          sonho
          que foi sonhado lá atrás.
        </p>
      </div>
    </div>

    <!-- image 5-->
    <div
      class="altura_5_image background_uniao_blue lg:w-1/3 mt-10 grid center justify-center lg:justify-start text-center">
      <img src="../../../assets/pictures/historia/foto_historia_5.png" alt="">
    </div>
  </div>
</div>